// Sass Variables

$color-primary: #d7b680;
$color-secondary: #063946;
// $color-secondary: #ffffff;
// $color-tertiary: #264050;
// $color-body: #9b9b9b;
// $color-dark: #222222;
// $color-black: #000000;
// $color-gray: #f9f9f9;
// $color-white: #ffffff;

// $font-heading: 'Barlow',
// sans-serif;

// $font-body: 'Roboto',
// sans-serif;

// $body-font-size: 15px;

// 
// 

// $color-secondary: white;
$color-tertiary: #264050;
$color-body: #9b9b9b;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: "Barlow", sans-serif;

$font-body: "Roboto", sans-serif;

$body-font-size: 15px;