@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.video-slider .slick-slide {
  width: 378px !important;
}

.offer-slider .slick-slide {
  width: 385px !important;
}

.list_none {
  list-style: none;
}
.btn_nav {
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-weight: 700;
  min-width: 170px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 15px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
}

.bg-slider-img {
  background-blend-mode: overlay;
  background-color: rgba(6, 57, 70, 0.8);
  background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825__480.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-slider-img-2 {
  background-blend-mode: overlay;
  background-color: rgba(6, 57, 70, 0.8);
  background-image: url("https://cdn.pixabay.com/photo/2015/01/09/11/09/meeting-594091__340.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner_img {
  background-blend-mode: overlay;
  background-image: url("https://images.pexels.com/photos/5473337/pexels-photo-5473337.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner_img-2 {
  background-blend-mode: overlay;
  background-color: rgba(6, 57, 70, 0.8);
  background-image: url("https://cdn.pixabay.com/photo/2015/09/04/23/28/wordpress-923188__340.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.services-webdesign-mage {
  background-blend-mode: overlay;
  background-image: url("https://i.ibb.co/1GvTgCx/Design-Services.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.webDesign-hero-bg-image {
  background-blend-mode: overlay;
  background-image: url("../assets/images/DesignServices/Websitedesign/website-design-banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.graphic-hero-bg-image {
  background-blend-mode: overlay;
  background-image: url("../assets/images/ITandWebService/Website-Building-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.article-hero-bg-image {
  background-blend-mode: overlay;
  background-image: url("../assets/images/ITandWebService/Artificial-intelligence.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-img-page-title-service {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
  background: #d7b680 !important;
}
.bg-slider-img-Banner-multi {
  /* background-image: url("../assets/images/backgrounds/1.jpg"); */
  background: #d7b680 !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
}
.bg-slider-img-Banner-two {
  background-color: #00243b;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
}

.is-sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1040;
  height: 80px;
  max-height: 80px;
  border-bottom: 0 !important;
  background-color: #063946 !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  animation: headerAnimation 0.7s;
}

.navbar .dropdown-toggle:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  border: none;
  vertical-align: middle;
  margin-left: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.action__btn-contact:hover {
  background-color: #063946;
  color: #fff;
}
.action__btn-contact {
  font-size: 14px;
  min-width: 106px;
  height: 39px;
  line-height: 39px;
  border-radius: 2px;
  letter-spacing: 0;
}
.timeline__img > img {
  height: 180px;
  width: 270px;
}
.history-timeline .slick-arrow {
  line-height: 38px;
}
@media (max-width: 900px) {
  .map_img {
    width: 507px;
    height: 273px;
  }
  .bg-img {
    display: none;
  }
}
.bg-layout-5 {
  background-blend-mode: overlay;
  background-image: url("https://images.pexels.com/photos/5473307/pexels-photo-5473307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.background-img-3 {
  background-blend-mode: overlay;
  background-image: url("https://cdn.pixabay.com/photo/2021/11/14/18/36/telework-6795505_960_720.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.background-careers-3 {
  background-blend-mode: overlay;
  background-image: url("https://cdn.pixabay.com/photo/2015/06/24/15/45/hands-820272_960_720.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.page-title-layout3 {
  background-blend-mode: overlay;
  background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849821__340.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.award_backgroun_color {
  background-blend-mode: overlay;
  background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849826_960_720.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.quoter-bg-header {
  background-blend-mode: overlay;
  background-image: url("https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.quote-Banneralyout-bg {
  background-blend-mode: overlay;
  background-image: url("../assets/images/banners/8.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.it-web-header-bg {
  background-blend-mode: overlay;
  background-image: url("https://i.ibb.co/rk2wdBX/ITWeb-Services.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.itservices-title-bg {
  background-blend-mode: overlay;
  background-image: url("https://i.ibb.co/DYjbdYZ/Selling-Platforms.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.awards .fancybox-item {
  border-radius: 5px;
  width: auto;
  text-align: left;
  padding: 48px 35px 37px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.05);
}

@media (min-width: 320px) and (max-width: 767px) {
  .awards .fancybox-item {
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.swiper-horizontal {
  touch-action: pan-y;
}
.responsive-mini-nav {
  margin-left: -300px;
}
@media screen and (max-width: 991px) {
  .header .navbar .navbar-toggler .menu-lines:before,
  .header .navbar .navbar-toggler .menu-lines:after,
  .header .navbar .navbar-toggler .menu-lines span,
  .header-transparent .navbar .navbar-toggler .menu-lines:before,
  .header-transparent .navbar .navbar-toggler .menu-lines:after,
  .header-transparent .navbar .navbar-toggler .menu-lines span {
    background-color: #fff;
  }
}
@media (max-width: 800px) {
  .member__img {
    height: 486px;
    width: 400px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #063946;
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}
.btn__secondary {
  background-color: #063946 !important;
  color: #ffffff;
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .awards .fancybox-item {
    height: auto;
    width: 500px;
  }
  .swiper,
  swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    width: 100pc;
    height: 600px;
    margin-bottom: 20px;
  }
}
.btn__link {
  background-color: transparent !important;
  border-color: transparent !important;
  min-width: 0;
  line-height: 1;
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
}
.is-sticky .logo-dark {
  display: inline-block;
  object-fit: scale-down;
  width: 150px !important;
}
.btn__secondary.btn__bordered {
  background-color: transparent !important;
  border: 2px solid #063946 !important;
  color: #063946 !important;
}
.btn__secondary.btn__bordered:hover {
  color: #ffffff !important;
  background-color: #0e2b3d !important;
}
.accordion__title:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-color: transparent;
  color: #03182d;
  font-size: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
}
.d-sm-none {
  display: none;
}
.accordion-item {
  margin-bottom: 20px !important;
}
.accordion__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.opened {
  border: red;
}
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
.accordion__title:after {
  background-color: transparent !important;
}

.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
  display: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
  display: none;
}
.slider-img-text {
  position: relative;
}
.client {
  background-color: rgba(6, 57, 70, 0.8) !important;
}
.bg-color-blend-mode {
  background-blend-mode: multiply;
  background-color: rgba(6, 57, 70, 0.8);
}
.bg-color-aboutLayout {
  background-color: #063946;
}
.app-dev-hero {
  height: 410px !important;
  background-blend-mode: multiply;
  background-color: rgba(6, 57, 70, 0.8);
}
.slider-height-white {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  gap: 10px;
}
.font-56px {
  font-size: 53px !important;
}
.mt--40 {
  margin-top: -40px;
}
.h-75 {
  height: 75px;
}
.mb---50 {
  margin-bottom: -50px !important;
}

.slick-track {
  margin-left: -170px;
}
